.section{
  position: relative;
  width: 5%;
  align-items: left;
  justify-content: left;
  overflow: hidden;
}

.section h1{
  text-align: left;
  font-size: 6 rem;
  z-index: 1;
  background: #fff; 
  padding: 20px:
  margin: 15 px;
}

.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
  
