/* =========================
   GENERAL LAYOUT
   ========================= */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;       
  background: black; 
}

/* =========================
   VIDEO
   ========================= */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 2;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* =========================
   HIGHLIGHTED TEXT
   ========================= */
.highlight {
  background-color: yellow;
  color: black;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

/* =========================
   NAV LINKS
   ========================= */
nav a {
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: underline;
  color: white;
}
a {
  color: white;
  text-decoration: underline;
}

/* =========================
   DEFAULT SECTIONS (DARK)
   ========================= */
section {
  padding: 40px;
  background: black;
  color: white;
}

/* =========================
   SONIFICATION
   ========================= */
.biodata-section {
  max-width: 850px;
  margin: 50px auto;
  padding: 0 10px;
  color: white;
}

.biodata-description {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 30px;
}

.biodata-section img,
.biodata-section video {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0 10px 0; 
}

.biodata-caption {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #ccc;
}

/* =========================
   ERT
   ========================= */

.ert-section {
  max-width: 850px;
  margin: 50px auto;
  padding: 0 10px;
  color: white;
}

.ert-description {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 30px;
}

.ert-section img,
.ert-section video {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0 10px 0;
}

.ert-caption {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #ccc;
}

/* =========================
   ABOUT
   ========================= */

.about-section {
  max-width: 850px;
  margin: 50px auto;
  padding: 0 10px;
  color: white;
}

.about-description {
  text-align: left;
  line-height: 1.5;
  margin-bottom: 30px;
}


.about-section img,
.about-section video {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0 10px 0;
}


.about-caption {
  text-align: center;
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #ccc;
}
